<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.guanyun.weather.preview" android:versionCode="73" android:versionName="0.2.66-test">
  <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-feature android:name="android.hardware.camera" android:required="false" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-feature android:glEsVersion="0x00030000" android:required="true" />
  <application android:label="山兔" android:icon="@drawable/ic_launcher" android:theme="@style/AppTheme"
    android:allowBackup="false" android:usesCleartextTraffic="false" android:hardwareAccelerated="true" android:supportsRtl="true">
    <service android:name="com.guanyun.weather.OfflineDownloadService" android:exported="false" android:foregroundServiceType="dataSync" />
    <service android:name="com.guanyun.weather.RecordingService" android:exported="false" android:foregroundServiceType="location" />
    <provider android:name="com.guanyun.weather.PhotoShareProvider" android:authorities="com.guanyun.weather.preview.photos" android:exported="false" android:grantUriPermissions="true" />
    <provider android:name="com.guanyun.weather.CameraCaptureProvider" android:authorities="com.guanyun.weather.preview.capture" android:exported="false" android:grantUriPermissions="true" />
    <provider android:name="com.guanyun.weather.RouteShareProvider" android:authorities="com.guanyun.weather.preview.routes" android:exported="false" android:grantUriPermissions="true" />
    <activity android:name="com.guanyun.weather.MainActivity" android:exported="true" android:windowSoftInputMode="adjustResize" android:launchMode="singleTask"
      android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize|uiMode|density">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="application/geo+json" />
        <data android:mimeType="application/vnd.garmin.tcx+xml" />
        <data android:mimeType="application/vnd.ant.fit" />
        <data android:mimeType="text/csv" />
        <data android:mimeType="text/tab-separated-values" />
        <data android:scheme="content" />
        <data android:mimeType="application/gpx+xml" />
        <data android:mimeType="application/vnd.google-earth.kml+xml" />
        <data android:mimeType="application/vnd.google-earth.kmz" />
        <data android:mimeType="application/json" />
        <data android:mimeType="application/xml" />
        <data android:mimeType="text/xml" />
        <data android:mimeType="text/plain" />
        <data android:mimeType="application/octet-stream" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="application/geo+json" />
        <data android:mimeType="application/vnd.garmin.tcx+xml" />
        <data android:mimeType="application/vnd.ant.fit" />
        <data android:mimeType="text/csv" />
        <data android:mimeType="text/tab-separated-values" />
        <data android:mimeType="application/gpx+xml" />
        <data android:mimeType="application/vnd.google-earth.kml+xml" />
        <data android:mimeType="application/vnd.google-earth.kmz" />
        <data android:mimeType="application/json" />
        <data android:mimeType="application/xml" />
        <data android:mimeType="text/xml" />
        <data android:mimeType="text/plain" />
        <data android:mimeType="application/octet-stream" />
      </intent-filter>
    </activity>
  </application>
</manifest>
